<p id="notice"><%= notice %></p>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Organization</th>
    <th>Report Count</th>
    <th>Report Correctness Count</th>
    <th>Report Correctness Ratio</th>
    <th>More...</th>
  </tr>

<% @organization.authors.each do |author| %>
  <tr>
    <td><%= author.name %></td>
    <td><%= @organization.name %></td>
    <% if author.author_extra == nil %>
    <td></td><td></td><td></td>
    <% else %>
    <td><%= author.author_extra.report_count %></td>
    <td><%= author.author_extra.report_correctness_count %></td>
    <td><%= author.author_extra.report_correctness_ratio %></td>
    <% end %>
    <td><%= link_to 'Show Reports', author %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
